* {
	// border: 1px solid grey;
}

html{
	height: 4000px;
}

.container {
	margin: 0 auto;
	padding-right: 40px;
	padding-left: 40px;
	max-width: 1000px;
}

.stop-scrolling {
	height: 100%;
	overflow-y: hidden;
}

#map {
	width: 100%;
	height: 65vh;
}

header {
	background-image: url("../img/city.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 40%;
	width: 100vw;
	height: 35vh;
	text-align: center;
	.container {
		position: relative;
		top: 50%;
		@include prefix(transform, translateY(-50%));
	}	
	.backgroound {
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid white;
		padding: 40px 0;
	}
	h1 {
		color: white;
		letter-spacing: 20px;
	}
	select {
		margin-top: 40px;
		width: 100%;
		max-width: 200px;
		padding: 20px;
		@include prefix(appearance, none);
		padding: 10px 20px;
		text-align-last:center;
		
	}
}

.views {
	h2 {
		font-size: 1.8em;
		text-align: center;
		padding-top: 40px;
	}
}

.places-list {
	@include flexbox;
	@include flex-wrap(wrap);
	.place {
		margin-top: 40px;
		@include flex-basis(calc(50% - 20px));
		@include prefix(box-shadow, 0px 4px 10px -4px #777);
		&:nth-child(2n) {
			margin-left: 10px;
		}
		&:nth-child(2n-1) {
			margin-right: 10px;
		}
		.caption {
			position: relative;
			height: 18vw;
			overflow: hidden;
		}
		img {
			width: 100%;
			height: 180%;
			margin-top: -10%;
		}
		.title,
		.area {
			position: absolute;
			left: 10px;
			display: block;
			color: white;
			text-shadow: 0px 1px 3px #800000;
		}
		.title {
			bottom: 10px;
			@include prefix(line-clamp, 1);
			display: -webkit-box;
			@include prefix(box-orient, vertical);
			overflow: hidden;
		}
		.area {
			bottom: 40px;
		}
		.info {
			padding-left: 10px;
			padding-right: 10px;
		}
		.detail {
			display: block;
			max-width: 100px;
			padding: 10px 0;
			background-color: rgb(105, 147, 227);
			color: white;
			@include prefix(border-radius, 2px);
			@include prefix(transition, all .4s);
			margin: 0 auto 20px auto;
			text-align: center;
			&:hover {
				background-color: rgb(85, 99, 210);
			}
		}
		p {
			&:nth-child(2) {
				@include prefix(line-clamp, 1);
				display: -webkit-box;
				@include prefix(box-orient, vertical);
				overflow: hidden;
			}
			&:nth-child(3) {
				@include prefix(line-clamp, 1);
				display: -webkit-box;
				@include prefix(box-orient, vertical);
				overflow: hidden;
			}
		}
	}
}

.screen {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.view-box {
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 20px; // 響應式下絕對定位設定寬max-width會失效，解決方法使用width
		width: 80%;
		max-width: 500px;
		@include prefix(transform, translate(-50%, -50%));
		.box {
			// 要加拉桿 記得要加高度
			overflow: auto;
			height: 650px;
		}
		.picture {
			margin-bottom: 40px;
			img {
				width: 100%;
				height: auto;
			}
		}
		p {
			line-height: 2;
		}
		.cancel {
			position: absolute;
			z-index: 999;
			top: -30px;
			right: -20px;
			color: white;
			width: 50px;
			height: 50px;
			background-color: grey;
			@include prefix(border-radius, 50%);
			text-align: center;
			line-height: 50px;
			cursor: pointer;
		}
	}
}

#top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background-color: rgba(128, 128, 128, 0.8);
	color: white;
	opacity: 0;
	@include prefix(border-radius, 50%);
	@include prefix(transition, all .4s);
	cursor: pointer;
	&.active {
		opacity: 1;
	}
}


footer {
	margin-top: 100px;
	background-color: rgb(242, 240, 240);
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	a {
		text-decoration: underline;
	}
}



// 尚未完成頁碼
// #pagination-demo {
// 	@include flexbox;
// 	@include justify-content(center);
// 	margin-top: 60px;
// 	.page-item {
// 		border: 1px solid #ddd;
// 		padding: 10px;
// 		&:not(:first-child) {
// 			margin-left: 10px;
// 		}
// 	}
// }