* {
	border: 1px solid grey;
}


.col-4, .col-8 {
	float: left;
}

.container {
	margin: 0 auto;
	padding: 50px;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 900px;
}

.food {
	overflow: hidden;
	text-align: center;
	>li {
		&:not(:first-child) {
			margin-top: 50px;
		}
	}
	.food-picture {
		img {
			width: 100%;
			height: auto;
		}
	}
	.food-number {
		>* {
			vertical-align: top;
		}
		>a {
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: orange;
			color: white;
			line-height: 25px;
		}
	}
	.food-info {
		>* {
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
}

.cart-info {
	position: fixed;
	top: 50%;
	left: 50%;
	overflow: scroll;
	padding: 50px;
	max-width: 900px;
	width: 100%;
	height: 500px;
	background-color: white;
	font-size: 0;

	@include prefix(box-shadow, 0px 5px 30px -5px #777);
	@include prefix(transform, translate(-50%, -50%));
	.col-2 {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		font-size: 16px;
	}
	.food-picture {
		> img {
			width: 100%;
		}
	}
	.food-remove {
		> a {
			display: inline-block;
			padding: 5px 20px;
			background-color: rgb(232, 9, 9);
			color: white;

			@include prefix(border-radius, 2px);
		}
	}
}

.cart {
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 80px;
	height: 80px;
	background-color: yellow;
	background-image: url(../img/cart.png);
	background-size: cover;
	background-repeat: no-repeat;

	@include prefix(border-radius, 50%);
	@include prefix(box-shadow, 0px 3px 10px -4px #777);
	.cart-number {
		position: absolute;
		top: 38%;
		left: 52%;
		color: red;
		font-weight: bold;
		font-size: 1.5em;

		@include prefix(transform, translate(-50%, -50%));
	}
}